@font-face
{ 
    font-family: "pictonic";
    src: url('../font/pictonic.eot');
    src: url('../font/pictonic.eot?#iefix') format('embedded-opentype'),
        url('../font/pictonic.ttf') format('truetype'),
        url('../font/pictonic.woff') format('woff'),
        url('../font/pictonic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
.pictonic
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a.pictonic, span.pictonic, small.pictonic {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="pictonic-"], [class*=" pictonic-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a[class^="pictonic-"], a[class*=" pictonic-"], span[class^="pictonic-"], span[class*=" pictonic-"], small[class^="pictonic-"], small[class*=" pictonic-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.pictonic-html5-01:before { content:"\e001"; }
.pictonic-html5-02:before { content:"\e002"; }
.pictonic-css3-01:before { content:"\e003"; }
.pictonic-css3-02:before { content:"\e004"; }
.pictonic-audiobox-01:before { content:"\e005"; }
.pictonic-box-com:before { content:"\e006"; }
.pictonic-audiobox-02:before { content:"\e007"; }
.pictonic-pictonic-02:before { content:"\e008"; }
.pictonic-pictonic-01:before { content:"\e009"; }
.pictonic-angularjs:before { content:"\e00a"; }
.pictonic-codepen-02:before { content:"\e00b"; }
.pictonic-codepen-01:before { content:"\e00c"; }
.pictonic-bandcamp:before { content:"\e00d"; }
.pictonic-shopify:before { content:"\e00e"; }
.pictonic-prog-pylons-02:before { content:"\e00f"; }
.pictonic-google-currents:before { content:"\e010"; }
.pictonic-prog-cherrypy:before { content:"\e011"; }
.pictonic-prog-backbonejs:before { content:"\e012"; }
.pictonic-prog-pylons:before { content:"\e013"; }
.pictonic-prog-flask:before { content:"\e014"; }
.pictonic-prog-cakephp:before { content:"\e015"; }
.pictonic-rus-yandex-01:before { content:"\e016"; }
.pictonic-rus-vk-02:before { content:"\e017"; }
.pictonic-rus-vk-01:before { content:"\e018"; }
.pictonic-rus-yandex-02:before { content:"\e019"; }
.pictonic-rus-habrahbr:before { content:"\e01a"; }
.pictonic-chn-wechat:before { content:"\e01b"; }
.pictonic-chn-tencent-02:before { content:"\e01c"; }
.pictonic-chn-tencent-01:before { content:"\e01d"; }
.pictonic-chn-tencent-03:before { content:"\e01e"; }
.pictonic-chn-weibo:before { content:"\e01f"; }
.pictonic-chn-renren:before { content:"\e020"; }
.pictonic-livejournal:before { content:"\e021"; }
.pictonic-wikipedia:before { content:"\e022"; }
.pictonic-icq:before { content:"\e023"; }
.pictonic-mailru:before { content:"\e024"; }
.pictonic-skydrive:before { content:"\e025"; }
.pictonic-googledrive-02:before { content:"\e026"; }
.pictonic-googledrive-01:before { content:"\e027"; }
.pictonic-dropbox:before { content:"\e028"; }
.pictonic-adb-speedgrade:before { content:"\e029"; }
.pictonic-adb-acrobat:before { content:"\e02a"; }
.pictonic-adb-audition:before { content:"\e02b"; }
.pictonic-adb-contribute:before { content:"\e02c"; }
.pictonic-adb-bridge:before { content:"\e02d"; }
.pictonic-adb-dreamweaver:before { content:"\e02e"; }
.pictonic-adb-encore:before { content:"\e02f"; }
.pictonic-adb-fireworks:before { content:"\e030"; }
.pictonic-adb-flashbldr:before { content:"\e031"; }
.pictonic-adb-flash:before { content:"\e032"; }
.pictonic-adb-illustrator:before { content:"\e033"; }
.pictonic-adb-indesign:before { content:"\e034"; }
.pictonic-adb-lightroom:before { content:"\e035"; }
.pictonic-adb-onlocation:before { content:"\e036"; }
.pictonic-adb-photoshop:before { content:"\e037"; }
.pictonic-adb-prelude:before { content:"\e038"; }
.pictonic-adb-premiere:before { content:"\e039"; }
.pictonic-adb-framemaker:before { content:"\e03a"; }
.pictonic-adb-captivate:before { content:"\e03b"; }
.pictonic-adb-aftereffects:before { content:"\e03c"; }
.pictonic-adb-robohelp:before { content:"\e03d"; }
.pictonic-corel-draw:before { content:"\e03e"; }
.pictonic-corel-painter:before { content:"\e03f"; }
.pictonic-_x33_dsmax:before { content:"\e040"; }
.pictonic-softimage:before { content:"\e041"; }
.pictonic-lightwave:before { content:"\e042"; }
.pictonic-cinema4d:before { content:"\e043"; }
.pictonic-maya:before { content:"\e044"; }
.pictonic-autocad:before { content:"\e045"; }
.pictonic-autocad-lt:before { content:"\e046"; }
.pictonic-modo:before { content:"\e047"; }
.pictonic-sketchup-01:before { content:"\e048"; }
.pictonic-sketchup-02:before { content:"\e049"; }
.pictonic-solidworks:before { content:"\e04a"; }
.pictonic-houdini:before { content:"\e04b"; }
.pictonic-blender:before { content:"\e04c"; }
.pictonic-vue:before { content:"\e04d"; }
.pictonic-zbrush:before { content:"\e04e"; }
.pictonic-os-ios-dark:before { content:"\e04f"; }
.pictonic-os-osx_1_:before { content:"\e050"; }
.pictonic-os-apple:before { content:"\e051"; }
.pictonic-os-ios:before { content:"\e052"; }
.pictonic-os-win-01:before { content:"\e053"; }
.pictonic-os-win-02:before { content:"\e054"; }
.pictonic-os-win-03:before { content:"\e055"; }
.pictonic-os-win-04:before { content:"\e056"; }
.pictonic-os-linux_1_:before { content:"\e057"; }
.pictonic-lin-debian:before { content:"\e058"; }
.pictonic-os-osx-dark:before { content:"\e059"; }
.pictonic-os-apple-dark:before { content:"\e05a"; }
.pictonic-os-win-01-dark:before { content:"\e05b"; }
.pictonic-os-win-02-dark:before { content:"\e05c"; }
.pictonic-os-win-03-dark:before { content:"\e05d"; }
.pictonic-os-linux:before { content:"\e05e"; }
.pictonic-os-win-04-dark:before { content:"\e05f"; }
.pictonic-pl-dart:before { content:"\e060"; }
.pictonic-pl-clojure:before { content:"\e061"; }
.pictonic-pl-groovy-01:before { content:"\e062"; }
.pictonic-pl-groovy-02:before { content:"\e063"; }
.pictonic-dbs-mysql:before { content:"\e064"; }
.pictonic-dbs-postgresql:before { content:"\e065"; }
.pictonic-dbs-sqlserver:before { content:"\e066"; }
.pictonic-dbs-sqlite:before { content:"\e067"; }
.pictonic-dbs-mongodb:before { content:"\e068"; }
.pictonic-dbs-riak:before { content:"\e069"; }
.pictonic-dbs-couchdb:before { content:"\e06a"; }
.pictonic-dbs-redis:before { content:"\e06b"; }
.pictonic-dbs-hadoop:before { content:"\e06c"; }
.pictonic-dbs-hbase:before { content:"\e06d"; }
.pictonic-dbs-cassandra:before { content:"\e06e"; }
.pictonic-dbs-couchbase-01:before { content:"\e06f"; }
.pictonic-dbs-couchbase-02:before { content:"\e070"; }
.pictonic-dbs-neo4j:before { content:"\e071"; }
.pictonic-vc-svn:before { content:"\e072"; }
.pictonic-vc-git:before { content:"\e073"; }
.pictonic-lin-centos:before { content:"\e074"; }
.pictonic-lin-redhat:before { content:"\e075"; }
.pictonic-lin-fedora:before { content:"\e076"; }
.pictonic-lin-ubuntu:before { content:"\e077"; }
.pictonic-vc-fossil:before { content:"\e078"; }
.pictonic-vc-bazaar:before { content:"\e079"; }
.pictonic-vc-bitbucket-02:before { content:"\e07a"; }
.pictonic-vc-bitbucket-01:before { content:"\e07b"; }
.pictonic-vc-mercurial:before { content:"\e07c"; }
.pictonic-brw-chrome:before { content:"\e07d"; }
.pictonic-brw-safari-01:before { content:"\e07e"; }
.pictonic-brw-safari-02:before { content:"\e07f"; }
.pictonic-brw-firefox:before { content:"\e080"; }
.pictonic-brw-explorer:before { content:"\e081"; }
.pictonic-brw-opera:before { content:"\e082"; }
.pictonic-zerply:before { content:"\e083"; }
.pictonic-social-bakers:before { content:"\e084"; }
.pictonic-android:before { content:"\e085"; }
.pictonic-prog-actionscript:before { content:"\e086"; }
.pictonic-prog-matlab:before { content:"\e087"; }
.pictonic-prog-delphi02:before { content:"\e088"; }
.pictonic-prog-golang01:before { content:"\e089"; }
.pictonic-prog-golang02:before { content:"\e08a"; }
.pictonic-prog-haskell:before { content:"\e08b"; }
.pictonic-prog-scala:before { content:"\e08c"; }
.pictonic-prog-lisp:before { content:"\e08d"; }
.pictonic-prog-basic:before { content:"\e08e"; }
.pictonic-prog-php02:before { content:"\e08f"; }
.pictonic-prog-c:before { content:"\e090"; }
.pictonic-prog-ruby:before { content:"\e091"; }
.pictonic-prog-csharp:before { content:"\e092"; }
.pictonic-prog-cplusplus:before { content:"\e093"; }
.pictonic-prog-ccplusplus:before { content:"\e094"; }
.pictonic-prog-js01:before { content:"\e095"; }
.pictonic-prog-objc:before { content:"\e096"; }
.pictonic-prog-js02:before { content:"\e097"; }
.pictonic-prog-java:before { content:"\e098"; }
.pictonic-prog-dotnet:before { content:"\e099"; }
.pictonic-prog-php01:before { content:"\e09a"; }
.pictonic-prog-vbnet:before { content:"\e09b"; }
.pictonic-prog-aspnet:before { content:"\e09c"; }
.pictonic-prog-visualstudio:before { content:"\e09d"; }
.pictonic-prog-python:before { content:"\e09e"; }
.pictonic-prog-lua01:before { content:"\e09f"; }
.pictonic-prog-lua02:before { content:"\e0a0"; }
.pictonic-prog-air01:before { content:"\e0a1"; }
.pictonic-prog-air02:before { content:"\e0a2"; }
.pictonic-prog-jquery:before { content:"\e0a3"; }
.pictonic-prog-mootools:before { content:"\e0a4"; }
.pictonic-prog-nodejs01:before { content:"\e0a5"; }
.pictonic-prog-nodejs02:before { content:"\e0a6"; }
.pictonic-prog-codeign:before { content:"\e0a7"; }
.pictonic-prog-expression:before { content:"\e0a8"; }
.pictonic-prog-symfony:before { content:"\e0a9"; }
.pictonic-prog-yii:before { content:"\e0aa"; }
.pictonic-prog-zendfrm:before { content:"\e0ab"; }
.pictonic-prog-drupal:before { content:"\e0ac"; }
.pictonic-prog-joomla:before { content:"\e0ad"; }
.pictonic-prog-wordpress:before { content:"\e0ae"; }
.pictonic-prog-magento:before { content:"\e0af"; }
.pictonic-prog-django:before { content:"\e0b0"; }
.pictonic-prog-rails:before { content:"\e0b1"; }
.pictonic-prog-erlang:before { content:"\e0b2"; }
.pictonic-prog-coffeescr:before { content:"\e0b3"; }
.pictonic-prog-perl:before { content:"\e0b4"; }
.pictonic-prog-fortran:before { content:"\e0b5"; }
.pictonic-prog-bash01:before { content:"\e0b6"; }
.pictonic-prog-bash02:before { content:"\e0b7"; }
.pictonic-prog-cobol:before { content:"\e0b8"; }
.pictonic-prog-delphi01:before { content:"\e0b9"; }
.pictonic-github-02:before { content:"\e0ba"; }
.pictonic-soundcloud:before { content:"\e0bb"; }
.pictonic-github-01:before { content:"\e0bc"; }
.pictonic-rdio:before { content:"\e0bd"; }
.pictonic-svpply-01:before { content:"\e0be"; }
.pictonic-grooveshark:before { content:"\e0bf"; }
.pictonic-svpply-02:before { content:"\e0c0"; }
.pictonic-spotify:before { content:"\e0c1"; }
.pictonic-instagram:before { content:"\e0c2"; }
.pictonic-creativesloth:before { content:"\e0c3"; }
.pictonic-xing:before { content:"\e0c4"; }
.pictonic-yammer:before { content:"\e0c5"; }
.pictonic-yahoo:before { content:"\e0c6"; }
.pictonic-wordpress:before { content:"\e0c7"; }
.pictonic-xanga:before { content:"\e0c8"; }
.pictonic-weblink_2:before { content:"\e0c9"; }
.pictonic-windows:before { content:"\e0ca"; }
.pictonic-weblink_1:before { content:"\e0cb"; }
.pictonic-vimeo:before { content:"\e0cc"; }
.pictonic-typepad:before { content:"\e0cd"; }
.pictonic-twitter-2:before { content:"\e0ce"; }
.pictonic-twitter-3:before { content:"\e0cf"; }
.pictonic-tumblr:before { content:"\e0d0"; }
.pictonic-twitter-1:before { content:"\e0d1"; }
.pictonic-slash_dot:before { content:"\e0d2"; }
.pictonic-stumble_upon:before { content:"\e0d3"; }
.pictonic-technorati:before { content:"\e0d4"; }
.pictonic-skype:before { content:"\e0d5"; }
.pictonic-sina:before { content:"\e0d6"; }
.pictonic-share:before { content:"\e0d7"; }
.pictonic-reddit:before { content:"\e0d8"; }
.pictonic-plaxo:before { content:"\e0d9"; }
.pictonic-rss:before { content:"\e0da"; }
.pictonic-pinterest:before { content:"\e0db"; }
.pictonic-picasa:before { content:"\e0dc"; }
.pictonic-paypal:before { content:"\e0dd"; }
.pictonic-odnoklassniki:before { content:"\e0de"; }
.pictonic-orkut:before { content:"\e0df"; }
.pictonic-newsvine:before { content:"\e0e0"; }
.pictonic-news_for_gamers:before { content:"\e0e1"; }
.pictonic-voxopolis:before { content:"\e0e2"; }
.pictonic-myspace:before { content:"\e0e3"; }
.pictonic-mail:before { content:"\e0e4"; }
.pictonic-linkedin:before { content:"\e0e5"; }
.pictonic-last_fm:before { content:"\e0e6"; }
.pictonic-kaboodle:before { content:"\e0e7"; }
.pictonic-instapaper:before { content:"\e0e8"; }
.pictonic-imgur:before { content:"\e0e9"; }
.pictonic-identi-ca:before { content:"\e0ea"; }
.pictonic-hyves:before { content:"\e0eb"; }
.pictonic-hi5:before { content:"\e0ec"; }
.pictonic-friendfeed:before { content:"\e0ed"; }
.pictonic-google__x2B_:before { content:"\e0ee"; }
.pictonic-google:before { content:"\e0ef"; }
.pictonic-gmail:before { content:"\e0f0"; }
.pictonic-fresqui:before { content:"\e0f1"; }
.pictonic-foursquare_2:before { content:"\e0f2"; }
.pictonic-foursquare_1:before { content:"\e0f3"; }
.pictonic-forrst:before { content:"\e0f4"; }
.pictonic-formspring:before { content:"\e0f5"; }
.pictonic-flickr:before { content:"\e0f6"; }
.pictonic-feedburner:before { content:"\e0f7"; }
.pictonic-facebook:before { content:"\e0f8"; }
.pictonic-evernote:before { content:"\e0f9"; }
.pictonic-dribbble:before { content:"\e0fa"; }
.pictonic-digg:before { content:"\e0fb"; }
.pictonic-deviantart:before { content:"\e0fc"; }
.pictonic-design-float:before { content:"\e0fd"; }
.pictonic-delicious:before { content:"\e0fe"; }
.pictonic-bookmark:before { content:"\e0ff"; }
.pictonic-blip:before { content:"\e100"; }
.pictonic-blogger:before { content:"\e101"; }
.pictonic-blinklist:before { content:"\e102"; }
.pictonic-behance:before { content:"\e103"; }
.pictonic-bebo:before { content:"\e104"; }
.pictonic-baidu:before { content:"\e105"; }
.pictonic-apple:before { content:"\e106"; }
.pictonic-amazon:before { content:"\e107"; }
.pictonic-aim:before { content:"\e108"; }
.pictonic-youtube:before { content:"\e109"; }
.pictonic-netlog:before { content:"\e10a"; }